<template name='contact'>
	<h1>Contact us</h1>
	<table class="table">
		<tr>
			<th>Author:</th>
			<td>Mahdi Ahmed Abdullahi</td>
		</tr>
		<tr>
			<th>Email:</th>
			<td>boolow5@gmail.com</td>
		</tr>
		<tr>
			<th>Phone:</th>
			<td>+252 618 270616</td>
		</tr>
		<tr>
			<td></td>
			<td>+252 698 270616</td>
		</tr>
		<tr>
			<th>Quora:</th>
			<td><a href="https://www.quora.com/profile/Mahdi-Bolow" target="blank">Mahdi Bolow</a></td>
		</tr>
		<tr>
			<th>Quora:</th>
			<td><a href="https://www.linkedin.com/in/mahdi-ahmed-34a63533" target="blank">Mahdi Bolow</a></td>
		</tr>
	</table>
</template>
