<template name='allUsers'>
	{{>adduser}}

	<h1>All Users:</h1>
	<ul>
	{{#each allUsers}}
		<li>
			{{shortenUsername emails.[0].address}}
		</li>
	{{/each}}
	</ul>
</template>



<template name='onlineUsers'>
	{{#if currentUser }}
	<div class="notification-area">
		<ul>
		{{#each notes}}
			<li>{{title}} - <span class="deleteNote">X</span></li>
		{{/each}}
		</ul>
	</div>
	<h3>Online Users:</h3>
	<ul>
	{{#each onlineUsers}}
		<li><a href="/chat/{{_id}}">{{shortenUsername emails.[0].address}}</a></li>
	{{/each}}
	</ul>
	{{else}}
		{{>loginTem}}
	{{/if}}
</template>

<template name='chatWithUser'>
	{{#if currentUser }}

	<h1>Chatting with: {{shortenUsername otherEmail}}</h1>
	<div class="message-display" id="display-for-{{data.otherUserId}}">
		<ul>
			{{notifications}}
		{{#each data.messages}}
			<li class="message-item">{{getTimeOnly timeSent}}| <em>{{shortenUsername sentBy}}</em> said:
				<strong>{{message}}</strong>
			</li>
		{{/each}}
		</ul>
	</div>
	<div class="new-message">
		<form class="send-message">
			<textarea class="textarea" type="text" name="messageText" required=true placeholder="type your message here..." ></textarea>
			<br>
			<input class="btn-primary btn-block" type="submit"/>
		</form>
	</div>
	{{else}}
		{{>loginTem}}
	{{/if}}
</template>
