<template name='chatWithUser'>
	{{#if currentUser }}

	<h1>Chatting with: {{shortenUsername otherEmail}}</h1>
	<div class="message-display" id="display-for-{{data.otherUserId}}">
		<ul>
			{{notifications}}
		{{#each data.messages}}
			<li>{{getTimeOnly timeSent}} - {{getUser senderId}}:
				{{message}}<hr>
			</li>
		{{/each}}
		</ul>
	</div>
	<div class="new-message">
		<form class="send-message">
			<textarea class="textarea" type="text" name="messageText" required=true placeholder="type your message here..." ></textarea>
			<br>
			<input class="btn-primary btn-block" type="submit"/>
		</form>
	</div>
	{{else}}
		{{>loginTem}}
	{{/if}}
</template>
